@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate-angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: false;
}

#root {
    --text-primary: #f9a8d4;
    --card-bg: #051336ea;
    background: linear-gradient(145deg, #0d0b0b, #060621);
    color: var(--text-primary);
}

main {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

li[data-active="true"] {
    @apply underline text-orange-600 underline-offset-4
}

.card {
    height: fit-content;
    border-radius: 6px;
    position: relative;
    background: var(--card-bg);
    backdrop-filter: blur(50px);


}



.card::after,
.card::before {
    content: "";
    background-image: conic-gradient(from var(--rotate-angle), #1e073b, #1b0733, #051d3363, #1e073b);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);

    height: 100%;
    width: 100%;
    z-index: -1;
    animation: spin-border 2s ease-in infinite;

}

.card::before {

    filter: blur(1px);

}

@keyframes spin-border {
    0% {
        --rotate-angle: 0deg
    }

    100% {
        --rotate-angle: 360deg
    }
}